/*
 _              _
| |            | |
| |_ ___   ___ | |___
| __/ _ \ / _ \| / __|
| || (_) | (_) | \__ \
 \__\___/ \___/|_|___/
*/
@import 'tools/reset';
@import 'tools/fonts';
@import 'tools/variables';
@import 'tools/mixins';

/*
 _ __   __ _  __ _  ___  ___
| '_ \ / _` |/ _` |/ _ \/ __|
| |_) | (_| | (_| |  __/\__ \
| .__/ \__,_|\__, |\___||___/
| |           __/ |
|_|          |___/
*/
@import 'pages/home';

// UI

@import 'ui/header';
@import 'ui/footer';