<footer>
    <img class="maps" src="../web/src/images/map.png" alt="map">
    <div class="link-footer">
        <div>
            <p class="title">Accès rapide</p>
            <p>Accueil</p>
            <p>Réparation</p>
            <p>Newsletter</p>
            <p>Contact</p>
        </div>
        <div>
            <p class="title">Informations légales</p>
            <p>Conditions générales de vente</p>
            <p>Mentions légales</p>
        </div>
        <div>
            <p class="title">Nous contacter</p>
            <p>Email : <a>contact@smartphone.com</a></p>
            <p>Nous appeler : <a>01 02 03 04 05</a></p>
            <div class="reseau">
                <img src="../web/src/images/social-facebook-outline.png">
                <img src="../web/src/images/social-instagram-outline.png">
                <img src="../web/src/images/social-twitter-outline.png">
            </div>
        </div>
    </div>
    <div class="moyen-payment">
        <img src="../web/src/images/PayPal_logo.png">
        <img src="../web/src/images/logo-cb.jpg">
        <img src="../web/src/images/MasterCard-Logo.png">
        <img src="../web/src/images/Visa_Logo.png">
    </div>
    <p class="copyright">Copyright © smartphone - 2017</p>
</footer>
</body>