<header>
    <div class="menu">
        <h1>LOGO</h1>
        <div class="container-menu">
            <div class="menu-picto">
                <img src="{{ asset('src/images/search.png') }}" alt="search">
            </div>
            <div class="menu-picto">
                <img src="{{ asset('src/images/person.png') }}" alt="person">
            </div>
            <div class="menu-picto bag">
                <p>0</p>
                <img src="{{ asset('src/images/bag.png') }}" alt="bag">
            </div>
            <div class="menu-picto cart">
                <h2>Mon Panier</h2>
                <p>222</p>
            </div>
        </div>
    </div>
    <div class="menu-marque">
        {% for nav in navs %}
            <p>{{ nav.name|raw }}</p>
        {% endfor %}

    </div>
</header>
