<header>
    <div class="menu">
        <h1>LOGO</h1>
        <div class="container-menu">
            <div class="menu-picto">
                <form id="search">
                    <input type="search" placeholder="Search">
                </form>
            </div>
            <div class="menu-picto user dropdown">
                <img src="{{ asset('images/person.png') }}" alt="person">
                <div class="dropdown-content">
                    <h2>Connexion</h2>
                    <input type="text" placeholder="Adresse e-mail">
                    <input type="password" placeholder="Mot de passe">
                    <p><a>Se connecter</a></p>
                    <p class="password-forget">Mot de passe oublié ? <a href="#">Inscrivez-vous</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="menu-marque">
        {% for nav in navs %}
            <p>{{ nav.name|raw }}</p>
        {% endfor %}
    </div>
</header>
