.home {
  h2 {
    margin: 50px 0 25px;
    font-family: $roboto;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: -0.2px;
    color: $black;
    text-align:center;
    text-transform: uppercase;
    position: relative;
    &:after {
      width: 300px;
      height: 2px;
      content: '';
      position: absolute;
      background-color: $peachy-pink;
      top: 45px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  
  .presentation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    .content-img {
      width: 180px;
      height: 180px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    h3 {
      font-family: $roboto;
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 25px;
      text-align: center;
      width: 200px;

    }
    p {
      font-family: $roboto;
      font-size: 14px;
      margin-bottom: 30px;
      width: 200px;
    }
    button {
      font-family: $roboto;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: -0.8px;
      color: $white;
      background-color:$peachy-pink;
      padding:11px 33px;
      border-radius: 3px;
      width: 150px;
      height: 40px;
      border:none;
      cursor: pointer;
      outline: none;
      margin-left:25px;
    }
    .presentation1, .presentation2 {
      display: flex;
      width: 420px;
      height: 250px;
      border: solid 1px $warm-grey;
    }
    .presentation1 {
      margin-right:20px;
      padding: 30px 50px 30px 0px;
    }
    .presentation2 {
      padding: 30px 0px 30px 50px;
    }
  }
  
  .visuel-produit {
    position: relative;
    max-width: 980px;
    height: auto;
    margin: 0 auto;
    text-align: right;
    img {
      width: 100%;
      height: 100%;
    }
    .description {
      position: absolute;
      top: 40px;
      right: 40px;
      h4 {
        font-family: $roboto;
        font-size: 40px;
        font-weight: 500;
        letter-spacing: -2px;
        color: $white;
        margin-bottom: 5px;
      }
      p {
        font-family: $roboto;
        font-size: 30px;
        font-weight: 300;
        letter-spacing: -1.5px;
        color: $white;
        margin-bottom: 15px;
      }
      .price {
        font-size: 35px;
        font-weight: 300;
        letter-spacing: -1.8px;
        color: $peachy-pink;
        margin-bottom: 30px;
      }
      button {
        font-family: $roboto;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: -0.8px;
        color: $white;
        width: 150px;
        height: 40px;
        border-radius: 3px;
        background-color: $peachy-pink;
        border:none;
        outline: none;
        cursor: pointer;
      }
    }
  }
  .stock-produit {
    width: 780px;
    border: solid 1px $warm-grey;
    margin: 40px auto;
    padding:30px 0px 44px 50px;
    display: flex;
    justify-content: space-between;
    .text {
      margin-top: 10px;
      h3 {
        font-family: $roboto;
        font-size: 30px;
        font-weight: 500;
        letter-spacing: -1.5px;
        margin-bottom: 10px;
      }
      p {
        font-family: $roboto;
      }
      .description {
        font-size: 16px;
        width: 400px;
        margin-bottom: 30px;
      }
      .price {
        font-size: 25px;
        font-weight: bold;
        letter-spacing: -1.2px;
        color: $peachy-pink;
        margin-bottom: 30px;
      }
      .stock {
        font-size: 20px;
        font-weight: 500;
        letter-spacing: -0.2px;
        color: $seaweed-green;
        margin-left: 60px;
        position: relative;
        margin-top: 6px;
        &:before {
          content: '';
          position: absolute;
          width: 1px;
          height: 35px;
          background-color: $warm-grey;
          left: -30px;
          top: -8px;
        }
      }
      button {
        font-family: $roboto;
        font-size: 16px;
        font-weight: 500;
        color: $white;
        width: 150px;
        height: 40px;
        border-radius: 3px;
        background-color: $peachy-pink;
        border:none;
        outline: none;
        cursor:pointer;
      }
      .disponible {
        display: flex;
      }
    }
    .bg {
      width: 280px;
      height: auto;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }


  .produit {
    max-width:980px;
    margin: 40px auto 50px;
    .content-produit:last-of-type {
      margin-right: 0;
    }
    .content-produit {
      width: calc(25% - 53px);
      margin-right:70px;
      margin-top: 20px;
      float: left;
      .bg {
        width: 170px;
        height: auto;
        margin: 0 auto 20px;
        img {
          height: 100%;
          width: 100%;
        }
      }
      p {
        font-family: $roboto;
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 1px;
        text-align: center;
        margin-bottom: 5px;
      }
      .price {
        font-weight: bold;
        letter-spacing: 1px;
        color: $peachy-pink;
        margin-bottom: 20px;
      }
      button {
        font-family: $roboto;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.8px;
        width: 150px;
        height: 40px;
        border-radius: 3px;
        background-color: $peachy-pink;
        color:$white;
        border:none;
        outline:none;
        margin:0 auto 50px;
        display: block;
      }
    }
  }


  .description-boutique {
    max-width:980px;
    margin: 0 auto;
    clear: both;
    .bg {
      width: 490px;
      height: auto;
      position:relative;
      float: left;
      margin-bottom: 50px;
      img {
        height: 100%;
        width:100%;
      }
      p{
        position:absolute;
        font-family: $roboto;
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 1.5px;
        color: $white;
        bottom:20px;
        left: 20px;
      }
    }
    p {
      margin-top: 45px;
      font-family: $roboto;
      font-size: 17px;
      font-weight: 300;
      letter-spacing: 1px;
      width: 442px;
      float: right;
    }
  }
}