.container.listing-produit {
  max-width: 990px;
  margin: 0 auto 100px;
}
.listing-produit {
	h1 {
    font-family: $roboto;
    font-size: em(25);
    font-weight: bold;
    letter-spacing: -0.2px;
    text-align: center;
    margin: 50px 0;
  }
  .row {
    display: flex;
    flex-direction: row;
    padding: 0 20px;
    @include maxWidth($TabletPortrait) {
      flex-direction: column;
      padding:0 10px;
    }
    @include maxWidth($Mobile) {
      padding:0;
    }
  }
  .col-2 {
    width: 25%;
    @include maxWidth($TabletPortrait) {
      width:100%;
      margin-bottom:20px;

    }
    @include maxWidth($Mobile) {
      padding:0 10px;
    }
    h2 {
      font-family: $roboto;
      font-size: em(20);
      font-weight: 500;
      letter-spacing: -0.2px;
      padding-bottom: 17px;
      border-bottom: 1px solid $warm-grey;
    }
    .option {
      margin-top: 20px;
      &.active {
        display: block;
      }
      @include maxWidth($TabletPortrait) {
        display: none;
      }
      .choice {
        display: flex;
        flex-direction: row;
        margin-bottom: 6px;
        input[type=checkbox] {
          margin-right: 17px;
        }
        p {
          font-family: $roboto;
          font-size: em(16);
          letter-spacing: -0.2px;
        }
      }
    }
  }
  .row-product {
    flex-wrap: wrap;
    flex-direction: row;
    margin-left:25px;
    @include maxWidth($TabletPortrait) {
      margin-left:0;
    }
  }
  .col-6 {
    width: 75%;
    @include maxWidth($TabletPortrait) {
      width:100%;
    }
    .col-2 {
      width:33.333%;
      margin-bottom: 40px;
      cursor: pointer;
      padding: 15px;
      border: 1px solid $white;
      @include  maxWidth($Mobile) {
        width:50%;
      }
      &:hover {
        border-bottom:1px solid $warm-grey;
      }

      h3 {
        font-family: $roboto;
        font-size: em(16);
        letter-spacing: -0.2px;
        margin-bottom: 6px;
        margin-top: 20px;
        font-weight: 500;
        @include maxWidth($TabletPortrait) {
          font-size: em(14);
        }
      }
      .subtitle {
        font-family: $roboto;
        font-size: em(13);
        font-weight: 300;
        letter-spacing: -0.1px;
        margin-bottom: 10px;
        @include maxWidth($TabletPortrait) {
          font-size: em(12);
        }
      }
      .description {
        font-family: $roboto;
        font-size: em(13);
        font-weight: 300;
        color: $warm-grey;
        margin-bottom: 15px;
        @include maxWidth($TabletPortrait) {
          font-size: em(12);
        }
      }
      .price {
        font-family: $roboto;
        font-size: em(20);
        font-weight: bold;
        letter-spacing: -1px;
        color: $peachy-pink;
        margin-bottom: 15px;
        @include maxWidth($TabletPortrait) {
          font-size: em(15);
        }
      }
      .img {
        margin: 0 auto;
        display: flex;
        justify-content: flex-start;

        img {
          overflow: hidden;
          width: auto;
          height: 170px;
          display: block;
        }
      }
      .panier-listing-product {
        padding: 6px 29px 6px 7px;
        height: 55px;
        border-radius: 3px;
        background-color: $peachy-pink;
        position: relative;
        color: $white;
        &:hover {
          background-color:$peachy-pink-hover;
        }
        @include maxWidth($TabletPortrait) {
          padding: 3px 28px 6px 4px;
        }
        i {
         background: url('../images/bagx2.png') no-repeat 2px center;
          width: 31px;
          height: 18px;
          content: '';
          position: absolute;
        }
      }
    }
  }
}