.container.product {
  max-width: 920px;
  margin: 0 auto 100px;
}
.row-product {
  display: flex;
  justify-content: space-between;
  padding:0 20px;
  @include maxWidth($Mobile) {
    flex-direction:column;
  }
}
.product {
  h1 {
    font-family: $roboto;
    font-size: em(25);
    font-weight: bold;
    letter-spacing: -0.2px;
    text-align:center;
    margin: 50px 0;
    text-transform: uppercase;
    @include maxWidth($TabletPortrait) {
      margin:50px 0 25px;
    }
  }
 .bg {
    width: 50%;
    margin-top: 30px;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    height: auto;
    background-position: center;
    @include maxWidth($Mobile) {
     height:200px;
     margin:0 auto;
     width:100%;
    }
  }
  .product-description {
    width: 400px;
    text-align: right;
    @include maxWidth($Mobile) {
      text-align: left;
      max-width: 100%;
      width:465px;
      margin: 20px auto 0;
    }
    h2 {
      font-family: $roboto;
      font-size: em(30);
      font-weight: bold;
      letter-spacing: -0.3px;
      margin-bottom: 20px;
      @include maxWidth($TabletPortrait) {
        font-size: em(24);
      }
      @include maxWidth($Mobile) {
        font-size:em(20);
      }
    }
    p {
      font-family: $roboto;
      font-size: em(16);
      margin-bottom: 5px;
      @include maxWidth($Mobile) {
        font-size:em(14);
      }
    }
    span {
      font-family: $roboto;
      font-size: em(10);
      font-weight: bold;
      letter-spacing: -0.1px;
      color: $warm-grey-two;
      margin-bottom: 4px;
    }
    .price {
      font-size: em(25);
      font-weight: bold;
      letter-spacing: -1.2px;
      color: $peachy-pink;
      margin-bottom: 15px;
      @include maxWidth($TabletPortrait) {
        font-size: em(22);
      }
      @include maxWidth($Mobile) {
        font-size:em(18);
      }
    }
    div {
      display: flex;
      flex-direction: row-reverse;
      margin-bottom: 15px;
      button {
        width: 29px;
        height: 29px;
        border-radius: 3px;
        background-color: $peachy-pink;
        border:none;
        outline: none;
        color:$white;
        cursor: pointer;
        &:hover {
          background-color:$peachy-pink-hover;
        }
      }
      p {
        font-size: em(25);
        font-weight: bold;
        letter-spacing: -1.2px;
        margin: 0 15px;
      }
    }
    .stock {
      font-size: em(16);
      font-weight: 500;
      letter-spacing: -0.2px;
      color: $seaweed-green;
      margin-bottom: 30px;
    }
    .rupture {   
      font-size: em(16);
      font-weight: 500;    
      letter-spacing: -0.2px;    
      color: red;    
      margin-bottom: 30px;   
    }
    a {
      font-size: em(11);
      font-weight: 300;
      text-decoration: underline;
      display: flex;
      flex-direction: row-reverse;
      margin-bottom: 5px;
      @include maxWidth($Mobile) {
        flex-direction: row;
      }
    }
    .condition {
      margin-bottom: 15px;
    }
    .panier {
      padding: 6px 10px 6px 35px;
      height: 40px;
      border-radius: 3px;
      display: inline;
      font-size: em(16);
      font-weight: 500;
      text-decoration: none;
      background-color: $peachy-pink;
      position: relative;
      color: $white;
      font-family: $roboto;
      @include maxWidth($TabletPortrait) {
        font-size: em(12);
        text-transform: uppercase;
      }
      &:hover {
        background-color:$peachy-pink-hover;
      }
      i {
        background: url('../images/bagx2.png') no-repeat 0px center;
        width: 31px;
        height: 18px;
        content: '';
        position: absolute;
        left: 8px;
      }
    }
  }

  .video {
    font-family: $roboto;
    font-size: em(20);
    text-align: center;
    margin-top: 90px;
    @include maxWidth($TabletPortrait) {
      margin-top: 60px;
    }
    h2 {
      text-transform: uppercase;
      font-family: $roboto;
      font-size: em(20);
      @include maxWidth($TabletPortrait) {
        font-size: em(16);
      }
      @include maxWidth($Mobile) {
        font-size:em(11);
        padding:0 10px;
      }
    }
    .bg {
      width: 80%;
      margin: 0 auto;
      margin-top: 30px;
      position: relative;
      height: auto;
    }
    iframe {
      width:100%;
      height:315px;
      @include maxWidth($TabletPortrait) {
        height:200px;
      }
      @include  maxWidth($Mobile) {
        height:238px;
        width:85%;
      }
    }
  }

  .interesser {
    .espace {
      @include maxWidth($Mobile) {
        display: flex;
        flex-direction: column;
        height: 135px;
        justify-content: space-between;
      }
    }
    h2 {
      font-family: $roboto;
      font-size: em(20);
      font-weight: bold;
      letter-spacing: 1px;
      text-align:center;
      text-transform: uppercase;
      position: relative;
      margin-top: 45px;
      margin-bottom: 30px;
      @include maxWidth($TabletPortrait) {
        font-size: em(16);
      }
      @include maxWidth($Mobile) {
        font-size: em(13);
      }
      &:after {
        width: 300px;
        height: 2px;
        content: '';
        position: absolute;
        background-color: $peachy-pink;
        top: 45px;
        left: 50%;
        transform: translateX(-50%);
        @include maxWidth($TabletPortrait) {
          top: 25px;
        }
        @include maxWidth($Mobile) {
          width: 150px;
        }
      }
    }
    .row {
      display: flex;
      flex-direction: row;
      flex-wrap:wrap;
      padding:0 10px;
    }
    .product-interesse {
      width: calc(25% - 10px);
      margin-left: 10px;
      text-align: center;
      cursor: pointer;
      padding-bottom: 20px;
      @include maxWidth($TabletPortrait) {
        width:33.333%;
        padding:0 10px;
        margin-left:0;
      }
      @include maxWidth($Mobile) {
        width: 50%;
      }

      &:hover {
        border-bottom:1px solid $warm-grey;
      }
      .bg {
        width: auto;
        height: 170px;
        margin: 0 auto;
        margin-top: 30px;
        position: relative;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        @include  maxWidth($TabletPortrait) {
          margin-top:0;
        }
      }
      h3 {
        font-family: $roboto;
        font-size: em(16);
        font-weight: 300;
        letter-spacing: 1px;
        margin-top: 20px;
        @include maxWidth($TabletPortrait) {
          font-size: em(14);
        }
        @include maxWidth($Mobile) {
          font-size: em(12);
          margin-top:10px;
          text-align: left;
        }
      }
      p {
        font-family: $roboto;
        font-size: em(16);
        font-weight: bold;
        letter-spacing: 1px;
        color: $peachy-pink;
        margin-top: 5px;
        @include maxWidth($TabletPortrait) {
          font-size: em(14);
        }
        @include maxWidth($Mobile) {
          font-size: em(12);
        }
      }
      button {
        margin-top: 20px;
        width: 150px;
        height: 40px;
        border-radius: 3px;
        background-color: $peachy-pink;
        color:$white;
        border:none;
        outline:none;
        cursor: pointer;
        @include maxWidth($TabletPortrait) {
          width: 100px;
          height: 28px;
          margin: 20px auto 0;
        }
        &:hover {
          background-color:$peachy-pink-hover;
        }
      }
    }
  }
}
.panier_title {
  text-align: center;
  margin-top: 50px;
  font: 25px $roboto;
  font-weight: bold;
  text-transform: uppercase;
}
.panier {
  width: 760px;
  margin: 30px auto 50px;
  overflow: auto;
  .article-panier {
    width: 435px;
    float: left;
    position: relative;
    .description-panier {
      width: 80%;
      height: 120px;
      float: left;
      img {
        height: 100px;
        float: left;
      }
      h5 {
        font: 14px $roboto;
        font-weight: 500;
        margin: 10px auto 7px;
      }
      p {
        font: 12px $roboto;
        margin-bottom: 7px;
        span {
          font-weight: bold;
          color: $peachy-pink;
        }
      }
    }
    .info-article-panier {
      i {
        position: absolute;
        top: 0;
        right:0;
      }
      p {
        font: 14px $roboto;
        font-weight: bold;
        color: $peachy-pink;
        text-align: right;
        margin: 30px auto 7px;
      }
      .quantite {
        float: right;
        .plus {
          line-height: 13px;
          text-align: center;
          color: $white;
          display: inline-block;
          height: 15px;
          width: 15px;
          background-color: $peachy-pink;
          border-radius: 3px;
          cursor: pointer;
        }
        p {
          display: inline-block;
          margin: 5px;
        }
        .moins {
          line-height: 13px;
          text-align: center;
          color: $white;
          display: inline-block;
          height: 15px;
          width: 15px;
          background-color: $peachy-pink;
          border-radius: 3px;
          cursor: pointer;
        }
      }
    }
  }
  .adresse-livraison {
    width: 435px;
    padding-bottom: 15px;
    border-bottom: 1px solid $warm-grey-two;
    overflow: auto;
    float: left;
    position: relative;
    h4 {
      font: 20px $roboto;
      font-weight: bold;
      letter-spacing: -1px;
    }
    ul {
      margin-top: 10px;
      li {
        font: 16px $roboto;
        letter-spacing: -1px;
      }
      li:last-child {
        float: left;
      }
    }
    a {
      font:16px $roboto;
      letter-spacing: -1px;
      color: $peachy-pink;
      text-decoration: underline;
      float: right;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .type-paiement {
    width: 435px;
    padding-bottom: 15px;
    overflow: auto;
    float: left;
    position: relative;
    h4 {
      margin-top: 15px;
      font: 20px $roboto;
      font-weight: bold;
      letter-spacing: -1px;
    }
    form {
      width: 80%;
      .input-field {
        width: 100%;
        overflow: auto;
        label {
          display: block;
          text-transform: uppercase;
          font: 14px $roboto;
          font-weight: bold;
          color: $warm-grey-two;
          margin-top: 20px;
        }
        input {
          width: 90%;
          padding: 0 4%;
          height: 40px;
          font-size: em(16);
          border: 1px solid $warm-grey-two;
          -webkit-transition: 0.5s;
          -moz-transition: 0.5s;
          -ms-transition: 0.5s;
          -o-transition: 0.5s;
          transition: 0.5s;
          &:focus {
            border: 2px solid $black;
            outline: none;
          }
        }
        .input-expirate {
          width: 5%;
          margin-right: 3%;
          float: left;
        }
        .ccv {
          width: 10%;
          overflow: auto;
        }
      }
    }
    button {
      margin-top: 20px;
    }
  }
  .total {
    width: 260px;
    float: right;
    border: 1px solid $warm-grey-two;
    .title-total {
      margin: 25px 30px 0;
      padding-bottom: 5px;
      border-bottom: 1px solid $warm-grey-two;
      overflow: auto;
      h4 {
        font: 20px $roboto;
        font-weight: bold;
        float: left;
      }
      p {
        font: 14px $roboto;
        margin-top: 6px;
        float: right;
      }
    }
    .resume-total {
      margin: 5px 30px 25px;
      overflow: auto;
      p {
        font: 16px $roboto;
        font-weight: 500;
        float: left;
        margin-top: 5px;
      }
      p.price {
        float: right;
        font-weight: bold;
        color: $peachy-pink;
      }
    }
    button {
      margin: 10px auto;
    }
  }
  button {
    font-family: $roboto;
    font-size: em(16);
    font-weight: 500;
    color: #fff;
    width: 150px;
    height: 40px;
    border-radius: 3px;
    background-color: #ff9579;
    border: none;
    outline: none;
    cursor: pointer;
    display: block;
  }
}