.container.product {
  max-width:920px;
  margin:0 auto 100px;
}
.row-product {
  display: flex;
  justify-content: space-between;
}
.product {
	h1 {
		font-family: $roboto;
		font-size: 25px;
		font-weight: bold;
		letter-spacing: -0.2px;
		text-align:center;
    margin: 50px 0;
    text-transform: uppercase;
	}
   .bg {
    width: 100%;
    margin-top: 30px;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    height: auto;
    background-position: center;
  }
  .product-description {
    width: 400px;
    text-align: right;
    h2 {
      font-family: $roboto;
      font-size: 30px;
      font-weight: bold;
      letter-spacing: -0.3px;
      margin-bottom: 20px;
    }
    p {
      font-family: $roboto;
      font-size: 16px;
      margin-bottom: 5px;
    }
    span {
      font-family: $roboto;
      font-size: 10px;
      font-weight: bold;
      letter-spacing: -0.1px;
      color: $warm-grey-two;
      margin-bottom: 4px;
    }
    .price {
      font-size: 25px;
      font-weight: bold;
      letter-spacing: -1.2px;
      color: $peachy-pink;
      margin-bottom: 15px;
    }
    div {
      display: flex;
      flex-direction: row-reverse;
      margin-bottom: 15px;
      button {
        width: 29px;
        height: 29px;
        border-radius: 3px;
        background-color: $peachy-pink;
        border:none;
        outline: none;
        color:$white;
        cursor: pointer;
        &:hover {
          background-color:$peachy-pink-hover;
        }
      }
      p {
        font-size: 25px;
        font-weight: bold;
        letter-spacing: -1.2px;
        margin: 0 15px;
      }
    }
    .stock {
      font-size: 16px;
      font-weight: 500;
      letter-spacing: -0.2px;
      color: $seaweed-green;
      margin-bottom: 30px;
    }
    .rupture {   
      font-size: 16px;   
      font-weight: 500;    
      letter-spacing: -0.2px;    
      color: red;    
      margin-bottom: 30px;   
    }
    a {
      font-size: 11px;
      font-weight: 300;
      text-decoration: underline;
      display: flex;
      flex-direction: row-reverse;
      margin-bottom: 5px;
    }
    .condition {
      margin-bottom: 15px;
    }
    .panier {
      padding: 6px 10px 6px 35px;
      height: 40px;
      border-radius: 3px;
      display: inline;
      font-size: 16px;
      font-weight: 500;
      text-decoration: none;
      background-color: $peachy-pink;
      position: relative;
      color: $white;
      font-family: $roboto;
      &:hover {
        background-color:$peachy-pink-hover;
      }
      i {
        background: url('../images/bagx2.png') no-repeat 0px center;
        width: 31px;
        height: 18px;
        content: '';
        position: absolute;
        left: 8px;
      }
    }
  }

  .video {
    font-family: $roboto;
    font-size: 20px;
    letter-spacing: -1px;
    text-align: center;
    margin-top: 70px;
    h2 {
      text-transform: uppercase;
      font-family: $roboto;
      font-size: 20px;
      letter-spacing: -1px;
    }
    .bg {
      width: 680px;
      height: 280px;
      margin: 0 auto;
      margin-top: 30px;
      position: relative;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }

  .interesser {
    h2 {
      font-family: $roboto;
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 1px;
      text-align:center;
      text-transform: uppercase;
      position: relative;
      margin-top: 45px;
      margin-bottom: 30px;
      &:after {
        width: 300px;
        height: 2px;
        content: '';
        position: absolute;
        background-color: $peachy-pink;
        top: 45px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .row {
      display: flex;
      flex-direction: row;
    }
    .product-interesse {
      width: calc(25% - 10px);
      margin-left: 10px;
      text-align: center;
      cursor: pointer;
      padding-bottom: 20px;
      &:hover {
        border-bottom:1px solid $warm-grey;
      }
      .bg {
        width: 170px;
        height: 170px;
        margin: 0 auto;
        margin-top: 30px;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
      h3 {
        font-family: $roboto;
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 1px;
        margin-top: 20px;
      }
      p {
        font-family: $roboto;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 1px;
        color: $peachy-pink;
        margin-top: 5px;
      }
      button {
        margin-top: 20px;
        width: 150px;
        height: 40px;
        border-radius: 3px;
        background-color: $peachy-pink;
        color:$white;
        border:none;
        outline:none;
        cursor: pointer;
        &:hover {
          background-color:$peachy-pink-hover;
        }
      }
    }
  }
}
.panier_title {
  text-align: center;
  margin-top: 50px;
  font: 25px "Roboto";
  font-weight: bold;
  text-transform: uppercase;
}
.panier {
  width: 760px;
  margin: 30px auto 50px;
  overflow: auto;
  .article-panier {
    width: 435px;
    float: left;
    position: relative;
    .description-panier {
      width: 80%;
      height: 120px;
      float: left;
      img {
        height: 100px;
        float: left;
      }
      h5 {
        font: 14px "Roboto";
        font-weight: 500;
        margin: 10px auto 7px;
      }
      p {
        font: 12px "Roboto-Light";
        margin-bottom: 7px;
        span {
          font-weight: bold;
          color: $peachy-pink;
        }
      }
    }
    .info-article-panier {
      i {
        position: absolute;
        top: 0;
        right:0;
      }
      p {
        font: 14px $roboto;
        font-weight: bold;
        color: $peachy-pink;
        text-align: right;
        margin: 30px auto 7px;
      }
      .quantite {
        float: right;
        .plus {
          line-height: 13px;
          text-align: center;
          color: $white;
          display: inline-block;
          height: 15px;
          width: 15px;
          background-color: $peachy-pink;
          border-radius: 3px;
          cursor: pointer;
        }
        p {
          display: inline-block;
          margin: 5px;
        }
        .moins {
          line-height: 13px;
          text-align: center;
          color: $white;
          display: inline-block;
          height: 15px;
          width: 15px;
          background-color: $peachy-pink;
          border-radius: 3px;
          cursor: pointer;
        }
      }
    }
  }
  .adresse-livraison {
    width: 435px;
    padding-bottom: 15px;
    border-bottom: 1px solid $warm-grey-two;
    overflow: auto;
    float: left;
    position: relative;
    h4 {
      font: 20px $roboto;
      font-weight: bold;
      letter-spacing: -1px;
    }
    ul {
      margin-top: 10px;
      li {
        font: 16px $roboto;
        letter-spacing: -1px;
      }
      li:last-child {
        float: left;
      }
    }
    a {
      font:16px $roboto;
      letter-spacing: -1px;
      color: $peachy-pink;
      text-decoration: underline;
      float: right;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .type-paiement {
    width: 435px;
    padding-bottom: 15px;
    overflow: auto;
    float: left;
    position: relative;
    h4 {
      margin-top: 15px;
      font: 20px $roboto;
      font-weight: bold;
      letter-spacing: -1px;
    }
    form {
      width: 80%;
      .input-field {
        width: 100%;
        overflow: auto;
        label {
          display: block;
          text-transform: uppercase;
          font: 14px $roboto;
          font-weight: bold;
          color: $warm-grey-two;
          margin-top: 20px;
        }
        input {
          width: 90%;
          padding: 0 4%;
          height: 40px;
          font-size: 16px;
          border: 1px solid $warm-grey-two;
          -webkit-transition: 0.5s;
          -moz-transition: 0.5s;
          -ms-transition: 0.5s;
          -o-transition: 0.5s;
          transition: 0.5s;
          &:focus {
            border: 2px solid $black;
            outline: none;
          }
        }
        .input-expirate {
          width: 5%;
          margin-right: 3%;
          float: left;
        }
        .ccv {
          width: 10%;
          overflow: auto;
        }
      }
    }
    button {
      margin-top: 20px;
    }
  }
  .total {
    width: 260px;
    float: right;
    border: 1px solid $warm-grey-two;
    .title-total {
      margin: 25px 30px 0;
      padding-bottom: 5px;
      border-bottom: 1px solid $warm-grey-two;
      overflow: auto;
      h4 {
        font: 20px $roboto;
        font-weight: bold;
        float: left;
      }
      p {
        font: 14px $roboto;
        margin-top: 6px;
        float: right;
      }
    }
    .resume-total {
      margin: 5px 30px 25px;
      overflow: auto;
      p {
        font: 16px $roboto;
        font-weight: 500;
        float: left;
        margin-top: 5px;
      }
      p.price {
        float: right;
        font-weight: bold;
        color: $peachy-pink;
      }
    }
    button {
      margin: 10px auto;
    }
  }
  button {
    font-family: "Roboto", arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    width: 150px;
    height: 40px;
    border-radius: 3px;
    background-color: #ff9579;
    border: none;
    outline: none;
    cursor: pointer;
    display: block;
  }
}