<!DOCTYPE html>
<html lang="fr">
<head>
    <!-- <meta charset=""> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta description="Benchaa">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="icon" type="image/png" href="/web/src/images/favicon.jpg" sizes="32x32">
    <!--build:css css/styles.min.css-->
    <!-- <link rel="stylesheet" href="../web/src/css/global.css"> -->
    <link rel="stylesheet" href="{{ asset('src/css/global.css') }}">
    <!--endbuild-->
</head>

<body>

{% block header %}
    {{ render(controller('PhoneBundle:Header:header')) }}
{% endblock %}

{% block body %}

{% endblock %}
{% block javascripts %}{% endblock %}
</body>

</html>
