footer {
  background: $black;
  color: $white;
  clear: both;
  padding-top: 52px;
  .maps{
    max-width: 600px;
    height: auto;
    margin:0 auto ;
    display: block;
  }
  .link-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1030px;
    margin: 48px auto 30px;
    padding-left: 65px;
    div {
      display: flex;
      flex-direction: column;
    }
    p,a  {
      font-family: $roboto;
      font-size: 15px;
      letter-spacing: -0.2px;
      color: $white;
      margin-bottom: 15px;
      cursor: pointer;
    }
    .title {
      font-weight: bold;
      cursor:inherit;
    }
    .reseau {
      display: flex;
      flex-direction: row;
      img {
        width: 25px;
        height: 25px;
        color:$white;
        background-color:$white;
        border-radius: 3px;
        margin: 0 15px 0 0;
        cursor: pointer;
      }
    }
  }
  .moyen-payment {
    display: flex;
    flex-direction: row;
    justify-content: center;
    img {
      height: 30px;
      width:30px;
      margin-right: 15px;
    }
  }
  .copyright {
    font-family: $roboto;
    font-size: 12px;
    letter-spacing: -0.2px;
    color: $white;
    text-align:center;
    margin-top: 30px;
    padding-bottom: 45px;
  }
}