header {
  position:fixed;
  width:100%;
  z-index: 30;
  background-color:$white;
  .menu {
    padding:29px 0 24px;
    border-bottom:1px solid $warm-grey;
    h1 {
      color: #ff9579;
      font-family: 'Righteous', serif;
      font-size: 40px;
      text-shadow: 3px 3px 0 hsl(9, 35%, 53%);
      text-align: center;
      &:after {
        content: attr(data-shadow);
        position: absolute;
        top: 37px;
        left: 10px;
        right: 0;
        z-index: -1;
        text-shadow: none;
        background-image:
                linear-gradient(
                45deg,
                transparent 45%,
                hsl(0, 0%, 0%) 35%,
                hsl(0, 0%, 0%) 50%,
                transparent 0
                );
        background-size: 7px 7px;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        animation: shad-anim 45s linear infinite;
      }
    }
    @keyframes shad-anim {
      0% {background-position: 0 0}
      0% {background-position: 100% -100%}
    }
    .container-menu {
      display: inline-flex;
      align-items: center;
      position: absolute;
      top: calc(50% - 40px);
      right: 20px;
      img {
        width: 25px;
        height: 25px;
      }
      .menu-picto {
        margin-right: 20px;
        position: relative;

        //SEARCH
        input {
          outline: none;
        }
        input[type=search] {
          -webkit-appearance: textfield;
          -webkit-box-sizing: content-box;
          font-family: inherit;
          font-size: 100%;
        }
        input::-webkit-search-decoration,
        input::-webkit-search-cancel-button {
          display: none;
        }
        input[type=search] {
          background: url('../images/search-icon.png') no-repeat 9px center;
          border: solid 1px $grey-border-search;
          padding: 9px 10px 9px 10px;
          width: 15px;
          color: transparent;
          cursor: pointer;
          transform: scale(0.8);

          -webkit-border-radius: 10em;
          -moz-border-radius: 10em;
          border-radius: 10em;

          -webkit-transition: all .5s;
          -moz-transition: all .5s;
          transition: all .5s;
        }
        input[type=search]:focus {
          width: 130px;
          background-color: $white;
          border-color: $search-hover;
          padding-left: 32px;
          color: $black;
          cursor: auto;

          -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
          -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
          box-shadow: 0 0 5px rgba(109,207,246,.5);
        }
        input:-moz-placeholder {
          color: $black;
        }
        input::-webkit-input-placeholder {
          color:  $black;
        }
        #search input[type=search]:hover {
          background-color: $search-hover
        }
        #search input:-moz-placeholder {
          color: transparent;
        }
        #search input::-webkit-input-placeholder {
          color: transparent;
        }
      }
      .dropdown {
        position:relative;
      }
      //USER
      .user.dropdown {
        margin-top: 4px;
        img {
          width: 27px;
          height: 27px;
        }
        .dropdown-content {
          display: none;
          position: absolute;
          box-shadow: -2px 2px 4px 0 rgba(0, 0, 0, 0.5);
          border: solid 1px #979797;
          background-color:$white;
          min-width: 160px;
          z-index: 1;
          padding: 30px;
          top: 45px;
          transform: translateX(-64%);
          &:before {
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-bottom: 20px solid $warm-grey;
            content: '';
            position: absolute;
            top: -20px;
            right: 56px;
          }
          h2 {
            font-family: $roboto;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: -0.2px;
            color: $peachy-pink;
          }
          input {
            border-bottom:solid 1px $black;
            width: 190px;
            border-top:none;
            border-left:none;
            border-right:none;
            font-family: $roboto;
            font-size: 14px;
            letter-spacing: -0.1px;
            color: $black;
            margin-top: 20px;
          }
          p {
            font-family: $roboto;
            font-size: 14px;
            margin-top: 10px;
          }
          .password-forget {
            font-family: $roboto;
            font-size: 10px;
            font-weight: 300;
            letter-spacing: -0.1px;
            color: $black;
            margin-top: 10px;
            a:hover {
              border-bottom:1px solid $black;
            }
          }
        }
      }
      //HOVER
      .dropdown:hover .dropdown-content {
        display: block;
      }
      .bag {
        display: flex;
        flex-direction: row;
        align-items: center;
        p {
          font-family:$roboto;
          background-color: $peachy-pink;
          color: $white;
          padding:3px;
          border-radius: 10px;
          font-size: 14px;
          font-weight: 300;
          line-height: 1.36;
          margin-right: 4px;
        }
      }
      .cart.dropdown {
        h2 {
          font-family: $roboto;
          font-size: 16px;
          font-weight: 300;
          letter-spacing: -0.8px;
          color: $warm-grey;
          margin-bottom: 2px;
          cursor: pointer;
        }
        .price {
          font-family: $roboto;
          font-size: 16px;
          font-weight: bold;
          color: $peachy-pink;
          cursor: pointer;
        }
        .dropdown-content {
          display: none;
          position: absolute;
          box-shadow: -2px 2px 4px 0 rgba(0, 0, 0, 0.5);
          border: solid 1px #979797;
          background-color:$white;
          min-width: 350px;
          z-index: 1;
          top: 58px;
          transform: translateX(-74%);
          &:before {
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-bottom: 20px solid $warm-grey;
            content: '';
            position: absolute;
            top: -20px;
            right: 56px;
          }
          .cart-hover {
            margin-top: 5px;
            max-height: 374px;
            overflow: scroll;
            .cart-product:last-child {
              border:none;
            }
            .cart-product {
              margin: 0 20px 20px;
              display: flex;
              flex-direction: row;
              border-bottom:1px solid $warm-grey-three;
              padding-bottom: 10px;
              margin-top: 15px;
              position: relative;
              .bg {
                width: 100%;
                height: auto;
                position: relative;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: left;
                margin-right: 20px;
              }
              .description {
                display: flex;
                flex-direction: row;
                justify-content:space-between;
                width: 100%;
                h3 {
                  font-family: $roboto;
                  font-size: 14px;
                  letter-spacing: -0.1px;
                  margin-bottom: 7px;
                  margin-top: 5px;
                }
                .subtitle {
                  font-family: $roboto;
                  font-size: 12px;
                  font-weight: 300;
                  letter-spacing: -0.1px;
                }
              }
              .price {
                margin-top: 20px;
                cursor: inherit;
              }
              .delete {
                position: absolute;
                right: 0px;
                cursor: pointer;
                z-index: 1;
                top: -5px;
              }
            }
          }
          .commander {
            border-top:1px solid $black;
            padding-top: 15px;
            .total {
              padding-left:20px;
              padding-right:20px;
              display: flex;
              flex-direction: row;
              justify-content:space-between;
              h4 {
                font-family: $roboto;
                font-size: 16px;
                letter-spacing: -0.8px;
              }
              .price {
                cursor: inherit;
              }
            }
            .all-button {
              display: flex;
              padding-left:20px;
              padding-right:20px;
              flex-direction: row;
              justify-content:space-between;
              margin-top: 15px;
              margin-bottom: 11px;
              button {
                cursor: pointer;
                width: 150px;
                height: 40px;
                border-radius: 3px;
                background-color: $peachy-pink;
                border:none;
                outline:none;
                color:$white;
                font-family: $roboto;
                font-size: 16px;
                font-weight: 500;
              }
              .cart-button {
                background-color: $warm-grey;
              }
            }
          }
        }
      }
      //HOVER
      .dropdown:hover .dropdown-content {
        display: block;
      }
    }
  }
  .menu-marque {
    position: relative;
    .dropdown-nav-category {
      display: flex;
      justify-content: center;
      border-bottom: 1px solid $warm-grey;
    }
    .dropdown-nav-category li {
      padding:17px 0.5%;
      margin-right: 1.5%;
      text-transform:uppercase;
      font-family: $roboto;
      font-size: 14px;
      letter-spacing: -0.7px;
      text-align: justify;
      color: $black;
      a {
        text-decoration:none;
      }
      &:hover > .dropdown-nav {
        display: flex;
        justify-content: space-around;
      }
      .dropdown-nav {
        background: $white;
        width: 100%;
        position: absolute;
        top: 50px;
        left: 0px;
        border-top: 1px solid $warm-grey-two;
        border-bottom: 1px solid $warm-grey-two;
        display: none;
        padding: 25px;
        .dropdown-nav-subcategory {
          width: auto;
          h3 {
            font-size: 20px;
            font-weight: 600;
          }
          ul {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            padding: 0;
            li {
              padding: 2px 0;
              text-align: left;
              a {
                font-size: 12px;
                color: $warm-grey;
                transition: 0.3s;
                &:hover {
                  color: $peachy-pink;
                }
              }
            }
          }
        }
      }
    }
    .dropdown-nav-category li:hover a {
      color: $peachy-pink;
      cursor: pointer;
      transition: 0.3s;
    }
    li:first-child {
      padding-left: 0;
    }
    li:first-child {
      padding-right: 0;
    }
  }
}