/* ==========================================================================
  FONTS
/* ========================================================================== */

@font-face {
  font-family: 'Dia';
  src: url('../fonts/Dia/Dia-Regular.eot');
  src: url('../fonts/Dia/Dia-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Dia/Dia-Regular.woff2') format('woff2'),
    url('../fonts/Dia/Dia-Regular.woff') format('woff'),
    url('../fonts/Dia/Dia-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
