{% extends "base.html.twig" %}
{% block body %}
<div class="container connect">
    <div class="title">
        <h2 data-content='0'>Inscription</h2>
        <h2 class="active" data-content='1'>Connexion</h2>
    </div>
    <div class="content active" data-content='1'>
          {{ render(controller('PhoneBundle:Security:login')) }}
    </div>
    <div class="content" data-content='0'>
       {{ render(controller('PhoneBundle:Registration:register')) }}
    </div>
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
{% endblock %}
{% endblock %}
