{#{% extends "base.html.twig" %}#}
{% block body %}

    <div class="content active" data-content='1'>
        <h3>Connexion avec une adresse e-mail</h3>
        <form action="{{ path("fos_user_security_check") }}" method="post">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}

            <div class="input">
                <p>Adresse e-mail</p>
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
            </div>
            <div class="input">
                <p>Mot de passe</p>
                <input type="password" id="password" name="_password" required="required" />
            </div>
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me">{{ 'security.login.remember_me'| trans }}</label>

            <input type="submit" class="connexion" id="_submit" name="_submit" value="Connexion" />
        </form>
        <a href="" class="forget-password" >Mot de passe oublié ?</a>
        <div class="reseau">
            <button class="fcb">Facebook</button>
            <button class="google">Google +</button>
            <button class="twitter">Twitter</button>
        </div>
    </div>

{% endblock %}