/* ==========================================================================
  VARIABLES
/* ========================================================================== */

/* fonts */
$roboto:'Roboto', arial, sans-serif;

/* colors */

$black: #000000;
$peachy-pink:#ff9579;
$peachy-pink-hover:#ea8367;
$white:#fff;
$warm-grey:#9e9e9e;
$seaweed-green: #319f79;
$grey-border-search: #ccc;
$search-hover : rgba(255, 149, 121, 0.35);
$warm-grey-two :#848484;
$warm-grey-three:#979797;
$blue-fb : rgba(44, 96, 155, 0.8);
$blue-twitter : rgba(0, 195, 243, 0.8);
$red-google : rgba(220, 77, 64, 0.8);
$purpley-grey :#9b9b9b;