/* ==========================================================================
  VARIABLES
/* ========================================================================== */

/* fonts */
$roboto:'Roboto', arial, sans-serif;

/* colors */

$black: #000000;
$peachy-pink:#ff9579;
$white:#fff;
$warm-grey:#9e9e9e;
$seaweed-green: #319f79;
$grey-border-search: #ccc;
$search-hover : rgba(255, 149, 121, 0.35);